.tooling{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: fit-content;
    padding: 15em 0;
    width: 100%;
    background-image: url('../../images/illustration-laptop-desktop.svg');
    background-repeat: no-repeat;
    background-position: -43% 50%;
    background-size: 60%;
}

.tooling-content{
    width: 45%;
    margin-right: 8em;
    display: flex;
    flex-direction: column;
    gap: 3.5em;
}

.tooling-content-block{
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.tooling-content-title{
    font-size: 28px;
    color: hsl(208, 49%, 24%);
    
}

.tooling-content-text{
    line-height: 2em;
    font-size: 18px;
    color: hsl(207, 13%, 34%);
}

@media screen and (max-width: 1150px) {
    .tooling-content{
        margin-right: 1em;
        width: 55%;
    }
}

@media screen and (max-width: 768px){
    .tooling{
        background-image: url('../../images/illustration-laptop-mobile.svg');
        justify-content: center;
        text-align: center;
        background-position: 50% 0;
        background-size: 100%;
        padding-top: 75%;
        padding-bottom: 5em;
    }

    .tooling-content{
        width: 100%;
        padding: 1em;
        margin: 0;
    }
}