.header{
    position: absolute;
    width: 100%;
    padding: 2em 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header-informations{
    display: flex;
    align-items: center;
    gap: 4em;
}

.header-logo{
    color: white;
    font-size: 34px;
    font-weight: 600;
}

.header-informations-list{
    display: flex;
    padding-top: 8px;
    gap: 2em;
    list-style: none;
}

.list-item{
    color: white;
}

.list-item:hover{
    cursor: pointer;
}

.login{
    background: transparent;
    border: transparent;
    color: white;
    font-weight: 400;
}

.signup{
    background-color: white;
    border-color: transparent;
    color: hsl(353, 100%, 62%);
    padding: 0.8em 2em !important;
}

.header-menu-hamburguer{
    color: white;
    font-size: 28px;
    display: none;
}

@media screen and (max-width: 768px) {
    .header-informations-list, .header-login{
        display: none;
    }

    .header-menu-hamburguer{
        display: block;
    }
}