.footer{
    width: 100%;
    height: fit-content;
    padding: 2em 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-top-right-radius: 90px;
    background-color: hsl(240, 10%, 16%);
    color: white;
    gap: 2em;
}

.footer-title{
    font-size: 30px;
}

.footer-list{
    list-style: none;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}
.footer-list-item{
    text-decoration: none;
    color: white;
}

.footer-list-item:hover{
    color: darkslategrey;
}

.linkedin{
    color: #0a66c2;
    font-weight: 600;
}

.fa-react{
    color: lightseagreen;
}